<div class="col-md-4">
  <div class="card mt-2 mb-2 rounded">
    <div class="card-body">
      <p id="notice"><%= notice %></p>

      <% if @user.avatar.attached? %>
        <%= image_tag rails_storage_redirect_path(@user.avatar) %>
      <% else %> 
        <%= image_tag 'avatar-head.jpg', height: 100, width: 100, class: "rounded-circle" %>
      <% end %> 

      <p>
        <strong>Name:</strong>
        <%= @user.name %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>

      <p>
        <strong>Password:</strong>
        <%= @user.password %>
      </p>

    </div>

    <%= link_to 'Edit', edit_user_path(@user), class:"btn-edit" %> 
    <%= link_to 'Back', users_path, class:"btn-back" %> 
  </div>
</div>

<div>
  <h1></h1>
  <h1></h1>
</div>